#footer
  //- a(href=url_for('.'), rel='nofollow')= config.title + '.'
  //- |  Powered by
  //- a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  //- a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  //- |  by
  //- a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.
  if theme.busuanzi == true
    div(id=busuanzi_container_site_pv)
      span='本站总访问量：' 
      //- span#busuanzi_value_site_pv= ' '
      span='uv-'
      span#busuanzi_value_site_uv= ' '
      span='   ( Data from Busuanzi )'
  div=' © ' + date(Date.now(), 'YYYY') + ' ScarSu '
  span#blog-timer
    i(class='fa fa-clock-o')
    span.desc=''
  script.
    if(localStorage.getItem("theme-dark") === "true"){
      //暗黑模式
      $("body").addClass("dark-theme")
      $("#lighter-btn+label").click()
    }else{
      //普通模式
      $("body").removeClass("dark-theme")
    }
    window.addEventListener('load',function(){

      $("#nav-menu").on('click',function(e){
        $("#nav-menu").toggleClass("expand")
        //- e.preventDefault()
      });
      $("#sidebar").on('click',function(e){
        $("#sidebar").toggleClass("expand")
        //- e.preventDefault()
      });
      //- $("#nav-menu").on('mouseout',function(){
      //-   $("#nav-menu").removeClass("expand")
      //- });

      $("#lighter-btn+label").click(function(e){
        if(!$("#lighter-btn")[0].checked){
          //暗黑模式
          $("body").addClass("dark-theme")
          localStorage.setItem("theme-dark","true")
        }else{
          //普通模式
          $("body").removeClass("dark-theme")
          localStorage.setItem("theme-dark","false")
        }
      });
    });
    window.showDesc = function(el,event){
      if(!$(el).parent().children(".popup")[0].innerText) return
      $(el).parent().children(".popup").css("display","inline")
    };
    window.hideDesc = function (el,event) {
      $(el).parent().children(".popup").css("display","none")
    }